$accent: #2B4074;
$text-color: #4A4A4A;
$bg-color: #F9F6E5;
$defolt-color: #9B9B9B;

%sofia-300{
    font-family: 'Sofia Sans Condensed';
    font-weight: 300;
}

%roboto-500{
    font-family: 'Roboto';
    font-weight: 500;
}

%robotocondensed-400{
    font-family: 'Roboto Condensed';
    font-weight: 400;
}


%robotocondensed-700{
    font-family: 'Roboto Condensed';
    font-weight: 700;
}